{% extends "layout.html" %}

{% block main %}
<div class="change-password">

    <form action="profile" method="post">
        <div class="form-group">
            <h2> Change your password:</h2>
            <br />
            <input class="form-control" name="new_password" placeholder="New password" type="password" id="new_password"
                required minlength="6" maxlength="12">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_confirmation" placeholder="Confirm new password" type="password"
                id="confirm_new_password" required minlength="6" maxlength="12">
            <span id='message'></span>
        </div>
        <div class="btn-s">
            <button type="submit">Submit</button>
        </div>
    </form>
    {% if pw_changed %}
    <div>
        <h3 class="pw-changed"> Your password was successfully changed! </h3>
    </div>
    {% endif %}
</div>
<script>
    $('#new_password, #confirm_new_password').on('keyup', function () {
        if ($('#new_password').val() != $('#confirm_new_password').val()) {
            $('#message').html('Passwords not matching').css('color', 'red');
        } else {
            $('#message').html(' ');
        }
    });
</script>
{% endblock %}